<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Dnd_Offers::offers" title="Offers" translate="title" module="Dnd_Offers" sortOrder="100" action="offers/offers" resource="Dnd_Offers::offers"/>
    </menu>
</config>
